<?xml version="1.0"?>
<GeneratorParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NameSpace>Shared.DTOs.Communication</NameSpace>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; Shared.DTOs.Communication &lt;Output file&gt; /c IList/p Net45 /cpartial- /classinfiles /dbg /rt /rtrange /rtregex /rtstlength /valprop /ap /pascalcase /clean /Indent2Space /gpsd </CommandLine>
  <Language>CSharp</Language>
  <CollectionObjectType>IList</CollectionObjectType>
  <CustomUsings />
  <AttributesToExclude />
  <TargetFramework>Net45</TargetFramework>
  <TrackingChanges />
  <PropertyParams>
    <AutomaticProperties>true</AutomaticProperties>
    <PascalCaseProperty>true</PascalCaseProperty>
  </PropertyParams>
  <ClassParams>
    <ClassNamePrefix />
    <PartialClass>false</PartialClass>
    <GenerateInSeparateFiles>true</GenerateInSeparateFiles>
  </ClassParams>
  <Serialization />
  <Miscellaneous>
    <EnableDebug>true</EnableDebug>
    <CleanupCode>true</CleanupCode>
  </Miscellaneous>
  <RestrictionsParams>
    <StringLengthAttribute>true</StringLengthAttribute>
    <RegularExpressionAttribute>true</RegularExpressionAttribute>
    <RangeAttribute>true</RangeAttribute>
    <ValidatePropertyInSetter>true</ValidatePropertyInSetter>
    <Enabled>true</Enabled>
  </RestrictionsParams>
  <GenericBaseClass />
</GeneratorParams>
